{% extends '_base.html' %}

{% block content %}

<form id="topic-container" hx-post="{% url 'get-questions' %}/start">
  {% csrf_token %}
  <h2 id="heading-text">
    What would you like to learn about?
  </h2>
  <div id="topic-list">

    <p>Please pick a topic from the below topics</p>

    <ol style="list-style-type: none;">

      {% for topic in topics %}
      <li class="option">
        <input type="radio" id="topic-{{ forloop.counter0 }}" value="{{ topic.id }}" name="quiz_id" required>
        <label for="topic-{{ forloop.counter0 }}">{{ topic.name }} ({{ topic.questions_count }} questions)</label>
      </li>
      {% endfor %}

      {% if not topics %}
      <li>No topics available. Have you added topics into your database?</li>
      {% endif %}

    </ol>

    <button class="btn" type="submit">Start your quiz</button>
  </div>
</form>

{% endblock content %}

